#portfolio {
    border: 5px solid green;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.name {}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

body {
    margin: 0px;
}

.info {
    padding: 2px;
    text-decoration: none;
}

.repo {
    font-size: x-large;
    font-style: bold;
    background: lightgray;
}

.links {
    padding: 2px;
    text-decoration: none;
}