#portfolio {}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name {}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.page {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px;
}

.info {
    padding: 2px;
    text-decoration: none;
}

.repo {
    font-size: x-large;
    font-weight: bold;
    background: lightgray;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 5px;
}

.links {
    text-decoration: none;
    padding: 2px;
}